* {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #242424;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.nav-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.simple-input,
fieldset {
  padding: 8px;
  width: 360px;
  border: 1px solid #808080;
  border-radius: 4px;
  margin-right: 8px;
  margin-bottom: 32px;
  box-sizing: border-box;
  letter-spacing: 0.04em;
}
input:hover {
  border-color: #000000;
}
input:focus {
  border-color: #4e75ff;
}

/* timer */
#datetime-picker:disabled {
  background-color: #fafafa;
  color: #808080;
}
.start-button {
  background-color: #4e75ff;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
}
.start-button:hover {
  background-color: #6c8cff;
}
.start-button:disabled {
  background-color: #cfcfcf;
  color: #989898;
}
.timer {
  display: flex;
  gap: 24px;
}
.field {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.value {
  font-weight: 300;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.04em;
}
.label {
  text-transform: uppercase;
}

/* snackbar */
.delay-label {
  display: flex;
  flex-direction: column;
  width: 360px;
  gap: 8px;
}
fieldset {
  padding: 14px 48px 8px 48px;
}
fieldset:hover,
fieldset:active {
  border-color: #000000;
}
.left-label {
  margin-right: 48px;
}
.create {
  width: 360px;
  text-align: center;
  padding: 9px 0;
  background-color: #4e75ff;
  color: #ffff;
  border: none;
  border-radius: 8px;
  line-height: 24px;
  letter-spacing: 0.04em;
  font-weight: 500;
}
.create:hover {
  background-color: #6c8cff;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
